@charset "UTF-8";

$max-width: 1620px;
$max-height: 400px;

.nav {
  width: $max-width;
  height: 100px;

  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  ul {
    list-style: none;
    width: 100%;
    height: 100px;
    li {
      box-sizing: border-box;
      display: inline-block;
      width: 540px;
      height: 100px;
      text-align: center;
      line-height: 100px;
      color: white;
      background: #ffaa00;
      font-size: 40px;
      transition: all .5s;
      cursor: pointer;
      &.activeHover {
        background: #111111;
      }
      &:hover {
        background: #111111;
      }
    }

  }
}
.news-box {
  width: $max-width;
  height: $max-height;
  box-sizing: border-box;
  padding: 30px;
  margin-top: 30px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  transition: all .8s;

  &:hover {
    transform: translateX(15px);
  }

  .left-img-box{
    float: left;
    width: 27%;
    height: 350px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  a {
    display: block;
    width: 70%;
    margin-left: 40px;
    height: 100%;
    float: left;
    text-decoration: none;

    .right-content-box {
      width: 100%;
      height: 100%;

      .content-shortContent {
        height: 220px;
        overflow: auto;
      }
      .content-date {
        margin-top: 20px;

      }
    }
  }
}
