@charset "UTF-8";

span {
  color: #ff0000;
}

.static {
  height: 40px;
  line-height: 40px;
  border-left: 5px solid greenyellow;
}

.active {
  background: #0b97a4;
  color: white;
}

.text-danger {
  background: red;
  color: black;
}